
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        body {
            background-color: #dbdbdb;
        }
        h2, p {
            text-align: center;
            font-family: 'Oswald', sans-serif;
        }

    </style>
</head>

@{
    ViewBag.Title = "About The Beaverhead County Animal Shelter";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Beaverhead County Animal Shelter is a non-profit organization dedicated to the care and placement of dogs, cats and other assorted animals.</p>
